// Formulaire d'ajout d'informations.
.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
    width: 80%;

    p {
        width: 100%;
    }

    input,
    select,
    textarea {
        margin-bottom: 15px;
        width: 100%;
        border-radius: 5px;
        background: lighten($blankColor, 5%);
        border: none;
        height: 37px;


        &:focus {
            outline: none;
            border: 2px solid lighten($goldenColor, 30%);
        }
    }

    &__submit {
        background: lighten($goldenColor, 30%);
        align-self: end;
        padding: 10px 20px;
        border-radius: 5%;
        border: none;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover {
            background: lighten($goldenColor, 20%);
            transition: all .2s ease-in-out;
        }
    }
}

.searchForm {
    max-width: 400px;
}

.small-checkbox {
    transform: scale(0.5);
}

.checkboxQuestionDiv {
    display: flex;
    width: 100%;

    label {
        flex: 60%;
    }

    .checkboxes {
        flex: 20%;
        display: flex;
        justify-content: space-between;
    }
}

.rgpd,
.news {
    font-size: 12px;
}

.checkContainer {
    width: 100%;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 10px;

    label {
        white-space: nowrap;
        width: 800px;
        transition: background-color 0.3s ease; 
    }
    
    &:hover {
        background-color: lighten($blankColor, 5%); 
    }
}

.flagList__active {
    display: none;
}